# Importing Libraries

In [105]:
import pandas as pd
import nltk
nltk.download('stopwords')
from nltk. corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn import naive_bayes

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Loading Data

In [106]:
data = pd.read_csv('twitter_data.csv')
data.head(7)

   2401  ... im getting on borderlands and i will murder you all ,
0  2401  ...  I am coming to the borders and I will kill you...
1  2401  ...  im getting on borderlands and i will kill you ...
2  2401  ...  im coming on borderlands and i will murder you...
3  2401  ...  im getting on borderlands 2 and i will murder ...
4  2401  ...  im getting into borderlands and i can murder y...
5  2402  ...  So I spent a few hours making something for fu...
6  2402  ...  So I spent a couple of hours doing something f...

[7 rows x 4 columns]

# Cleaning Data

In [107]:
data.drop('Borderlands',inplace=True,axis=1)

In [108]:
data.drop('2401',inplace=True,axis=1)

In [8]:
data.head()

   Positive im getting on borderlands and i will murder you all ,
0  Positive  I am coming to the borders and I will kill you...
1  Positive  im getting on borderlands and i will kill you ...
2  Positive  im coming on borderlands and i will murder you...
3  Positive  im getting on borderlands 2 and i will murder ...
4  Positive  im getting into borderlands and i can murder y...

In [109]:
data = data.loc[data["Positive"] != 'Neutral']
data['Positive'].replace('Positive',1,inplace = True)
data['Positive'].replace('Negative',0,inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [110]:
data.head()

  Positive im getting on borderlands and i will murder you all ,
0        1  I am coming to the borders and I will kill you...
1        1  im getting on borderlands and i will kill you ...
2        1  im coming on borderlands and i will murder you...
3        1  im getting on borderlands 2 and i will murder ...
4        1  im getting into borderlands and i can murder y...

In [111]:
data.columns = ['Sentiment','Text']

#Checking what we have for now

In [112]:
data.head()

  Sentiment                                               Text
0         1  I am coming to the borders and I will kill you...
1         1  im getting on borderlands and i will kill you ...
2         1  im coming on borderlands and i will murder you...
3         1  im getting on borderlands 2 and i will murder ...
4         1  im getting into borderlands and i can murder y...

In [113]:
data.tail()

      Sentiment                                               Text
74676         1  Just realized that the Windows partition of my...
74677         1  Just realized that my Mac window partition is ...
74678         1  Just realized the windows partition of my Mac ...
74679         1  Just realized between the windows partition of...
74680         1  Just like the windows partition of my Mac is l...

In [153]:
stopset = set(stopwords.words('english'))
vectorizer = TfidfVectorizer(use_idf=False, lowercase=False, strip_accents='ascii', stop_words=stopset)

In [154]:
y = data.Sentiment

In [155]:
data.dropna(axis=0)

      Sentiment                                               Text
0             1  I am coming to the borders and I will kill you...
1             1  im getting on borderlands and i will kill you ...
2             1  im coming on borderlands and i will murder you...
3             1  im getting on borderlands 2 and i will murder ...
4             1  im getting into borderlands and i can murder y...
...         ...                                                ...
74676         1  Just realized that the Windows partition of my...
74677         1  Just realized that my Mac window partition is ...
74678         1  Just realized the windows partition of my Mac ...
74679         1  Just realized between the windows partition of...
74680         1  Just like the windows partition of my Mac is l...

[56363 rows x 2 columns]

In [156]:
data.head(15)

   Sentiment                                               Text
0          1  I am coming to the borders and I will kill you...
1          1  im getting on borderlands and i will kill you ...
2          1  im coming on borderlands and i will murder you...
3          1  im getting on borderlands 2 and i will murder ...
4          1  im getting into borderlands and i can murder y...
5          1  So I spent a few hours making something for fu...
6          1  So I spent a couple of hours doing something f...
7          1  So I spent a few hours doing something for fun...
8          1  So I spent a few hours making something for fu...
9          1  2010 So I spent a few hours making something f...
10         1                                                was
17         1  that was the first borderlands session in a lo...
18         1  this was the first Borderlands session in a lo...
19         1  that was the first borderlands session in a lo...
20         1  that was the first borderlands session in a lo...

In [157]:
data = data.astype(str)
x = vectorizer.fit_transform(data['Text'])

In [147]:
y.shape, x.shape

((56363,), (56363, 30720))

In [158]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state = 407)

# Training the model

In [159]:
clf = naive_bayes.MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB()

# Tidying up the predict function

In [189]:
def predict(text):
    text_array = np.array([text])
    text_vector = vectorizer.transform(text_array)
    if int(clf.predict(text_vector[0])) == 1:
           print('positive sentiment')
    else:
        print('negative sentiment')

In [190]:
predict('I really liked that last movie that we watched together')

positive sentiment

In [191]:
predict("I'm feeling afraid of cross this long bridge, it makes me scary")

negative sentiment

In [193]:
data.shape

(56363, 2)