In [29]:
import pandas as pd
from scipy.sparse import csr_matrix
movies = 'movies.csv'
ratings = 'ratings.csv'
data_movies = pd.read_csv(movies,usecols= ['movieId','title'],dtype={'movieId':'int32','title':'str'})
data_ratings = pd.read_csv(ratings,usecols = ['userId','movieId','rating'],dtype={'userId':'int32','movieId':'int32','rating':'float32'})

In [20]:
data_ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [21]:
data_movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [26]:
movies_users = data_ratings.pivot(index = 'movieId',columns = 'userId',values='rating').fillna(0)

In [27]:
movies_users.head()

userId   1    2    3    4    5    6    7    ...  604  605  606  607  608  609  610
movieId                                     ...
1        4.0  0.0  0.0  0.0  4.0  0.0  4.5  ...  3.0  4.0  2.5  4.0  2.5  3.0  5.0
2        0.0  0.0  0.0  0.0  0.0  4.0  0.0  ...  5.0  3.5  0.0  0.0  2.0  0.0  0.0
3        4.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  0.0  0.0  0.0  0.0  2.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  3.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  3.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 610 columns]

In [32]:
mat_movies_users = csr_matrix(movies_users.values)

In [36]:
from sklearn.neighbors import NearestNeighbors

In [37]:
model_knn = NearestNeighbors(metric='cosine',algorithm='brute',n_neighbors=20)

In [38]:
model_knn.fit(mat_movies_users)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [41]:
from fuzzywuzzy import process

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [58]:
def Recommender(movie_name,n, data=mat_movies_users,model=model_knn):
    model.fit(data)
    idx=process.extractOne(movie_name, data_movies['title'])[2]
    print('Movie Selected:',data_movies['title'][idx],'Index:',idx)
    print('Searching for recommendations...')
    distances, indices = model.kneighbors(data[idx], n_neighbors = n)
    print(distances, indices)
    for i in indices:
        print(data_movies['title'][i].where(i!=idx))

Recommender('iron man',n= 5)

Movie Selected: Iron Man (2008) Index: 6743
Searching for recommendations...
[[2.9802322e-07 4.0914476e-01 4.1309166e-01 4.1812688e-01 4.3562800e-01]] [[6743 7197 7195 7354 6726]]
6743                        NaN
7197              Garage (2007)
7195    Merry Madagascar (2009)
7354         A-Team, The (2010)
6726     Superhero Movie (2008)
Name: title, dtype: object